.progress {
    display:block;
    transition: 150ms;
    appearance: none;
    border: none;
    background: #242837;
}
.progress::-webkit-progress-bar {
    background: #242837;
    border-radius: 16px;
    border: none;
    transition: 150ms;
}
.progress::-moz-progress-bar {  
    background-color: #242837;
    border-radius: 16px;
    transition: 150ms;
    border: none;
}

.progress::-webkit-progress-value {
    border-radius: 16px;
    background-color: #6363FF;
    transition: 150ms;
}

.progress.complete::-webkit-progress-value{
    background-color: #46F577;
}